@font-face {
   font-family: 'HelveticaNeue-Bold-02';
   font-display: swap;
   src: url('file:///C:/Users/JsonB/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-08-15_123331/fonts/HelveticaNeue-Bold-02/font.ttf');
}
